<%= link_to('intro') do %>
  <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-2 col-xs-4 part part-0">
    <h2 id="part-intro">Intro</h2>
  </div>
<% end %>
<%= link_to('part-I') do %>
  <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-1 col-xs-4 part part-1 part-middle">
    <h2>Part I</h2>
    <h6 class="sub-part">Mobile<br>endpoints</h6>
  </div> 
<% end %>     
<!-- <%= link_to('part-II') do %>  -->
  <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-1 col-xs-4 part part-2 part-middle inactive">
    <h2>Part II</h2>
    <h6 class="sub-part">Health<br>data</h6>
  </div> 
<!-- <% end %> 
  <%= link_to('part-III') do %> -->
  <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-2 col-xs-4 part part-3 part-middle inactive">
    <h2>Part III</h2>
    <h6 class="sub-part">Health<br>apps</h6>
  </div> 
<!-- <% end %>  
  <%= link_to('part-IV') do %>  -->
  <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-1 col-xs-4 part part-4 part-middle inactive">
    <h2>Part VI</h2>
    <h6 class="sub-part">Networks &amp; marketplaces</h6>
  </div>
<!-- <% end %>  
  <%= link_to('outro') do %>  -->
  <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-1 col-xs-4 part part-6 part-end inactive" >
     <h2 id="part-outro">Outro</h2>
  </div> 
<!-- <% end %> -->