<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-12" id="content">
    <% @parts.each do |part| %>
      <h2><%= part.part_name %></h2>
      <%= link_to 'Show', part %>
      <%= link_to 'Edit', edit_part_path(part) %>
      <%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' } %>
      <br><br><br><br>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Part', new_part_path %>
