<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-12" id="content">
    <% @posts.each do |post| %>
      <h2><%= post.title %></h2>
      <%= markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, :autolink => true)
	        markdown.render(truncate(post.body, :length => 400)).html_safe %>
	  <br>
      <%= link_to 'Show', post %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <br><br><br><br><br>
    <% end %>
	<br>
	<%= link_to 'New Post', new_post_path %>
  </div>
</div>

