<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700', type='text/css' %>
</head>
<body>
  <div class="container">     
    <div class="row" id="preamble">
      <div class="col-md-12">
        <h1>On Digital Healthcare</h1>
        <div id="byline">
          <p>By <span class="author" id="jonathan"><%= image_tag("libovness.png", :class => 'avatar') %>libovness</span> of Union Square Ventures &amp;</br><span class="author" id="angela"><%= image_tag("angela.png", :class => 'avatar') %>ATKingyens</span> of Version One Ventures</p>
        </div>
        <%= form_tag('/mcsubscribe/subscribe', method: "post", id: 'mcsubscribe',remote: true) do %>
          <input type="email" value="email@example.com" id="email">
          <%= submit_tag("Subscribe") %>
        <% end %>
        <h4 id="input-caption">&nbsp;Sign up to get notified as each part is published</h4>
      </div>
    </div>
    <div class="row part-cnt">
      <div class="col-md-2 part part-0">
         <h2 id="part-intro">Intro</h2>
      </div>
      <div class="col-md-2 part part-1 part-middle">
        <h2>Part I</h2>
        <h6 class="sub-part">Mobile<br>endpoints</h6>
      </div>    
      <div class="col-md-2 part part-2 part-middle">
        <h2>Part II</h2>
        <h6 class="sub-part">Health<br>data</h6>
      </div>    
      <div class="col-md-2 part part-3 part-middle">
        <h2>Part III</h2>
        <h6 class="sub-part">Health<br>apps</h6>
      </div>    
      <div class="col-md-2 part part-4 part-middle">
        <h2>Part VI</h2>
        <h6 class="sub-part">Networks &amp; marketplaces</h6>
      </div>
      <div class="col-md-2 part part-6 part-end" >
         <h2 id="part-outro">Outro</h2>
      </div>            
    </div>
    <div class="row">
      <div class="col-md-12" id="content">
        <%= yield %>
    </div>
  </div>
</body>
</html>
